{% extends '_base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block content %}

    <div class="row my-5">
    <div class="col-4 d-flex justify-content-center align-items-center">
        <img src="{% static 'images/Saeid.jpg' %}" alt="saeid" class="about-image">
    </div>

    <div class="col-7 text-left text-dark">
    <h1>hello</h1>
        <p class="fs-5">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Neque morbi velit orci nostra d
            onec. Blandit metus augue dolor pharetra donec magna tellus porta? Netus auctor venenatis morbi, taciti nisi amet netus. Dolor natoque ultrices vestibulum ante; augue dapibus vel tincidunt vestibulum. Hendrerit interdum consectetur senectus
            lobortis; montes himenaeos libero integer id! Sed orci rutrum integer laoreet nascetur phase
            llus habitasse vehicula. per erat platea erat natoque maecenas elit. Torquent placerat dictum porta dui aenean. Inceptos id penatibus et viverra orci et iaculis. Diam aenean metus vulputate morbi orci lobortis. Cras nulla consequat porta posuere id aliquet lacinia sed. N
    </div>
    </div>

    <div class="row my-2">
    <h2 class="text-center" style="color: blue">my tech stack</h2>
        <div class="d-flex justify-content-around align-items-center">
    <img src="{% static 'images/html.png' %}" alt="html" width="50" height="50" class="img-fluid">
    <img src="{% static 'images/python.jpg' %}" alt="html" width="50" height="50" class="img-fluid">
    <img src="{% static 'images/django.png' %}" alt="html" width="50" height="50" class="img-fluid">
    <img src="{% static 'images/drf.png' %}" alt="html" width="50" height="50" class="img-fluid">
    <img src="{% static 'images/bootstrap.jpg' %}" alt="html" width="50" height="50" class="img-fluid">
    <img src="{% static 'images/git.png' %}" alt="html" width="50" height="50" class="img-fluid">
    <img src="{% static 'images/docker.jpg' %}" alt="html" width="50" height="50" class="img-fluid">


        </div>
    </div>

{% endblock %}





